body {
    background: #ffffff;
    color: #333333;
}

.navbar {
    height:69px;
    border-bottom: #E0E0E0 1px solid ;
    padding: 16px 16px 8px 16px;
}

.card-img {
    max-height: 100%;
    max-width: 100%;
}

.card-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 3em;
}

.card-text {
    color: #ffffff;
    font-size: 1.3em;
}

.categories-image {
    max-height:
}

.card {
    border: none;
}
.section--hasSeparator {
    border-bottom:1px solid #ffffff;
    padding:10px 0 32px;
}

#login {
    min-height: 646px;
    background-color: #ffffff
}

.docBounds {
    height: 48px;
    width: 100%;
    background-color: #ffffff;
    display: block;
}

.btn-face {
    background-color: #3b5998;
}

/* .social {
    text-decoration : none;
    color : #fff;
} */